* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', Verdana;
} 

.body-background {
    background-color: #a9a9a9
}

/* Layout */
header {
    width: 600px;
    margin: 0 auto;
    background: url(burger-background.jpg);
    background-size: cover;
}

.container {
    width: 600px;
    padding: 67px 0 4px 0;
    margin: 0 auto;
    background-color: #ffffff;
}

.header-inner {
    padding: 56px 309px 57px 46px;
}

.grid {
    width: 508px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 45px;
    display: flex;
    justify-content: start;
    gap: 31px;
    border-bottom: 1px solid #8B8B8B;
}

.right-align {
    margin-left: auto;
    padding: 25px 0 0 0;
}

main + .container {
    padding-top: 1px;
}

.price-container {
    margin: 0 auto;
    width: 508px;
    text-align: center;
    padding-bottom: 53px;
}

.grid-price {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: baseline;
    padding: 1px;
    margin-bottom: 22px;
}

.grid-price .right-align {
    padding: 0;
}

.total-price {
    border-top: 1px solid black;
    margin-top: 30px;
    padding-top: 10px;
}

.price-container > h2 {
    margin-bottom: 60px;
}


/*    Typography    */

h1, p {
    color: #fff;
}

.food {
    font-size: 80px;
}

h2 {
    margin: 0;
    font-size: 28px;
}

.heading-info {
    line-height: 0;
    margin-top: 16px;
}

p {
    margin: 8px 0;
}

span {
    font-size: 20px;
}

i {
    font-family: 'inter';
    font-style: normal;
}

h1{
    margin: 0;
    font-weight: 400;
}

h3 {
    margin: 0;
    margin-bottom: 46px;
    font-size: 24px;
}

.fa-plus {
    font-size: 20px;
    padding: 15px;
    border-radius: 100%;
    border: 1px solid #8B8B8B;
}

.light-color {
    color: #BBBBBB;
}


/*      Links          */

.remove:hover {
    cursor: pointer;
    color: #ba9999;
}



/*        Buttons      */

button {
    width: 100%;
    padding: 18px 0;
    font-family: Verdana;
    font-weight: 700;
    margin-top: 30px;
}

/*        Modal      */

.modal {
    display: none;      /* flex for display modal */
    position: fixed;
    top: 170px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 524px;
    border-radius: 4px;
    padding: 47px 23px 30px 23px;
    margin: 0 auto;
    background-color: #6a6565;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}

.modal-inner {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-inner button {
    font-size: 20px;
}

input {
    display: block;
    width: 475px;
    padding: 14px 26px;
    margin-bottom: 23px;
}

input:last-of-type {
    margin-bottom: 0;
}


/*       end       */

.msg-container {
    display: none;      /* flex for displaying the msg */
    width: 600px;
    margin: 0 auto;
    padding: 51px 60px;
    background-color: #ffffff;
}

.thanks-msg {
    padding: 30px;
    width: 450px;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 32px;
}